<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easychat.mappers.MessageReportMapper">

    <resultMap id="base_result_map" type="com.easychat.entity.po.MessageReport">
        <result column="id" property="id"/>
        <result column="message_id" property="messageId"/>
        <result column="report_user_id" property="reportUserId"/>
        <result column="reason" property="reason"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_column_list">
        id, message_id, report_user_id, reason, description, status, create_time
    </sql>

    <insert id="insert" parameterType="com.easychat.entity.po.MessageReport" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO message_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="messageId != null">message_id,</if>
            <if test="reportUserId != null">report_user_id,</if>
            <if test="reason != null">reason,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="reportUserId != null">#{reportUserId},</if>
            <if test="reason != null">#{reason},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <select id="countPending" resultType="java.lang.Integer">
        SELECT count(1) FROM message_report
        WHERE report_user_id = #{reportUserId}
          AND status = 0
          AND message_id = #{messageId}
    </select>

    <update id="updateById" parameterType="com.easychat.entity.po.MessageReport">
        UPDATE message_report
        <set>
            <if test="bean.status != null">status = #{bean.status},</if>
            <if test="bean.handleUserId != null">handle_user_id = #{bean.handleUserId},</if>
            <if test="bean.handleTime != null">handle_time = #{bean.handleTime},</if>
            <if test="bean.handleNote != null">handle_note = #{bean.handleNote},</if>
            <if test="bean.handleAction != null">handle_action = #{bean.handleAction},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
