<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easychat.mappers.MessageReportMapper">

    <resultMap id="base_result_map" type="com.easychat.entity.po.MessageReport">
        <result column="id" property="id"/>
        <result column="message_id" property="messageId"/>
        <result column="report_user_id" property="reportUserId"/>
        <result column="reason" property="reason"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_column_list">
        id, message_id, report_user_id, reason, description, status, create_time
    </sql>

    <insert id="insert" parameterType="com.easychat.entity.po.MessageReport" keyProperty="bean.id" useGeneratedKeys="true">
        INSERT INTO message_report
        <!-- 接口方法为 insert(@Param("bean"))，参数须用 bean. 前缀，否则运行时 BindingException -->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">id,</if>
            <if test="bean.messageId != null">message_id,</if>
            <if test="bean.reportUserId != null">report_user_id,</if>
            <if test="bean.reason != null">reason,</if>
            <if test="bean.description != null">description,</if>
            <if test="bean.status != null">status,</if>
            <if test="bean.createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">#{bean.id},</if>
            <if test="bean.messageId != null">#{bean.messageId},</if>
            <if test="bean.reportUserId != null">#{bean.reportUserId},</if>
            <if test="bean.reason != null">#{bean.reason},</if>
            <if test="bean.description != null">#{bean.description},</if>
            <if test="bean.status != null">#{bean.status},</if>
            <if test="bean.createTime != null">#{bean.createTime},</if>
        </trim>
    </insert>

    <select id="countPending" resultType="java.lang.Integer">
        SELECT count(1) FROM message_report
        WHERE report_user_id = #{reportUserId}
          AND status = 0
          AND message_id = #{messageId}
    </select>

    <update id="updateById" parameterType="com.easychat.entity.po.MessageReport">
        UPDATE message_report
        <set>
            <if test="bean.status != null">status = #{bean.status},</if>
            <if test="bean.handleUserId != null">handle_user_id = #{bean.handleUserId},</if>
            <if test="bean.handleTime != null">handle_time = #{bean.handleTime},</if>
            <if test="bean.handleNote != null">handle_note = #{bean.handleNote},</if>
            <if test="bean.handleAction != null">handle_action = #{bean.handleAction},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
