<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easychat.mappers.OperationLogMapper">

    <resultMap id="BaseResultMap" type="com.easychat.entity.po.OperationLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="operation_type" property="operationType"/>
        <result column="operation_desc" property="operationDesc"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, operation_type, operation_desc, ip_address, create_time
    </sql>

    <insert id="insert" parameterType="com.easychat.entity.po.OperationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (user_id, operation_type, operation_desc, ip_address, create_time)
        VALUES (#{userId}, #{operationType}, #{operationDesc}, #{ipAddress}, #{createTime})
    </insert>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.easychat.entity.query.OperationLogQuery">
        SELECT <include refid="Base_Column_List"/>
        FROM operation_log
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type = #{operationType}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.easychat.entity.query.OperationLogQuery">
        SELECT COUNT(*)
        FROM operation_log
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type = #{operationType}
            </if>
        </where>
    </select>

</mapper>
